

#terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
*.key
*.crt

# Logs
*.log


# Lambda build artifacts
*.zip